@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:ital,wght@1,500&display=swap');

*{
    font-family: Ysabeau Office;
}
.imagen-principal{
    width: 100%;
    height: 350px ;
}
img{
    width: 100%;
    height: 100%;
}

nav{
    display: flex;
    flex-direction: column;
    
}
a{
    font-size: 0.5cm;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-weight: bold;   
}
p{
    width: 120px;
    text-align: center;
    color: #DCC535;
    border: solid 3px #E7E4D7;
    padding: 7px;
    border-radius: 20%;
    background-color: #282A2B;
}
.navbar{
    background-color: black;
    height: 320px;
}
h1{
    color: #E7E4D7;
}
@media (max-width:768px) {
    *{
        font-family: Ysabeau Office;
        margin: 0;
        padding: 0;
        
    }
    .imagen-principal{
        width: 100%;
        height: 350px ;
       

    }
    img{
        width: 100%;
        height: 100%;
    }

    nav{
        display: flex;
        flex-direction: column;
        gap: 20px;
        
        
    }
    a{
        font-size: 0.55cm;
        display: flex;
        justify-content: center;
        text-decoration: none;
        color: black;
        font-weight: bold;   
        margin-top: 35px;
        text-shadow: 3px 2px 4px white;
    }
    p{
        width: 120px;
        text-align: center;
        color: black;
        text-shadow: 2px 2px 2px white;
        border: solid 3px #662308;
        padding: 7px;
        border-radius: 20%;
        background-color: #F3A552;
        flex-wrap: nowrap;
    }
    .navbar{
        background-image: url("fondo14.png");
        background-size: 100% 100%;
        height: 400px;
        padding-top: 20px;
        margin-bottom: 0;
        
    }
    h1{
        color: white;
    }
    header{
        height: 100%;
        margin: 0;
    }
    
}